
<div class="container">
<p-button style="margin-left: 5px;" type="button" (click)="visibleSidebar1 = true" icon="pi pi-arrow-right"></p-button>
<p-button style="margin-left: 5px;"type="button" (click)="visibleSidebar2 = true" icon="pi pi-arrow-left"></p-button>
<p-button style="margin-left: 5px;" type="button" (click)="visibleSidebar3 = true" icon="pi pi-arrow-down"></p-button>
<p-button style="margin-left: 5px;" type="button" (click)="visibleSidebar4 = true" icon="pi pi-arrow-up"></p-button>
<p-button style="margin-left: 5px;" type="button" (click)="visibleSidebar5 = true" icon="pi pi-th-large"></p-button>
</div>