@media only screen and (max-width: 961px) {
    .wrapper-18 {
        width: 50%;
        float: left;
    }
}
@media only screen and (max-width: 600px) {
    .wrapper-18 {
        width: 50%;
        float: left;
    }
}

@media only screen and (max-width: 600px) {
    .wrapper-9 {
        margin-top: 3rem;
    }
}

@media only screen and (max-width: 961px) {
    .wrapper-9 {
        margin-top: 3rem;
    }
}
.wrapper-7 {
    margin-top: 1rem;
    color: black;
}

.wrapper-8 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

.wrapper-9 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

.wrapper-11 {
    margin-top: 4rem;
    text-align: center;
}

.wrapper-12 {
    border: 1px solid #ccc;
    border-radius: 5px !important;
    box-shadow: 3px 3px 14px 0 #ccc;
    padding: 10px;
}

.wrapper-13 {
    text-align: center;
    color: black;
}

.wrapper-14 {
    background-color: #5fc476;
    color: white;
}

.wrapper-14:hover {
    background-color: #5fc476;
    color: white;
}